@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a new Stylist!</h1>
<p>Fill out this form to add a new stylist. All stylists must have a specialty</p>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)

  @Html.LabelFor(model => model.StylistSpecialty)
  @Html.TextBoxFor(model => model.StylistSpecialty)
  <input type="submit" value="Add New Stylist"/>
}