body{
  background-color: #90adc6;
  color: #e9eaec;
}

h1{
  color:#e4d535
}

h3{
  color:#5c646b
}

a:link{
  color:#98e5ff
}

a:visited{
  color:#98e5ff
}

a:hover{
  color:#5c646b
}

a:active{
  color:#fad02c
}

nav{
  background-color: #5c646b;
}

.content{
  margin-top:8%;
}

.navBrand{
  width: 250px;
  height: auto;
}

.nav-item{
  margin-right: 50%;
  color: red;
}

.splash-img{
  width:50%;
  height: auto;
}

#footer{
  width: 20%;
  height: auto;
}