@{
  Layout = "_Layout";
}

<h1>Welcome Claire!</h1>
<h3>Eau Claire's Salon Stylist Management</h3>
<p>
-make it so you can't add a client until you've added a stylist<br>
-stylize the lists presented for clietns and stylists (a table maybe?)
-add a header control bar that runs on each page
-Include a form where employees may search for a stylist by name. Display a list of all results.<br>
-Include a form where employees may also search for a client by name. Display a list of all results.<br>
-Add a feature for adding an appointment to a client.<br>
-Add a feature for adding an appointment to a stylist. Add a check to make sure the stylist does not have any conflicting appointments.<br>
-Add a feature for keeping track of how much each stylist was paid for each appointment.
Add styling to your page.<br>

<p>@Html.ActionLink("See Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See Clients", "Index", "Clients")</p>